 body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      height: 100vh;
      width: auto;
      align-items: center;
    }

    /* Container with floorplan */
    .floorplan-container {
      position: relative;
      margin: 50px;
      align-items: center;
      justify-content: center;
      display: inline-block;
      background: #e0e0e0;
      border-radius: 25px;
      border: 2px solid #000000;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      overflow: hidden;
    }

    .floorplan-container img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    /* Table buttons */
    .table-btn {
      position: absolute;
      width: 60px;
      height: 60px;
      background: #ffffff;
      opacity: 0.6;
      border-radius: 6px;
      color: #000000;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.2s, color 0.2s;
    }

    .chair-btn {
      position: absolute;
      width: 27px;
      height: 27px;
      background: #ffffff;
      opacity: 0.6;
      border-radius: 6px;
      color: #000000;
      font-size: 12px;
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.2s, color 0.2s;
    }

    .table-btn:hover,
    .table-btn:hover ~ .chair-btn,
    .chair-btn:hover {
      background: rgb(99, 101, 102);
    }


    /* Sidebar */
    .sidebar {
      width: 0;
      height: 100vh;
      background: #f8f8f8;
      overflow-x: hidden;
      transition: 0.3s;
      padding: 20px;
      box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    }

    .sidebar.open {
      width: 250px;
    }

    .close-btn {
      cursor: pointer;
      background: red;
      color: white;
      padding: 5px 10px;
      border: none;
      float: right;
    }